.errorWrapper {
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.errorWrapper img {
    width: 40vw;
    aspect-ratio: 4/3;
}
.errorWrapper h3 {
    font-size: 2rem;
    font-family: var(--mono-font);
}
.errorWrapper p {
    font-family: var(--mono-font);
}
.errorWrapper a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 1rem;
}
